body {
    --color1: whitesmoke;
    --color2: gray;

    margin: 0;
    padding: 2vh;
    background-color: #000;
    color: var(--color1);
    font-family: 'Courier New', monospace;
}

main {
    border: .7vh ridge var(--color1);
    margin: auto;
    text-align: center;
    padding: 2vh;
}


main div.content {
    text-align: center;
    margin: auto;
    margin-bottom: 10vh;
    margin-top: 3vh;
    border: .7vh ridge var(--color2);
    padding: 2vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vh;
    width: min-content;
}

main div.content div {
    text-align: center;
    margin: auto;
    border: .7vh ridge var(--color1);
    padding: 2vh;
    width: 20vw;
    height: 65vh;
}

p.text {
    font-size: 2vh;
}

h1 {
    font-size: 6vh;
}

.content {
    font-size: 3vh;
}

h2 {
    font-size: 3vh;
}

@media (max-width: 130vh) {
    main div.content {
        grid-template-columns: repeat(2, 1fr);
    }
}